body{
    background-color: black;
}
.container-card {
    background-color: white;
    width: 900px;
    height: 450px;
    border: solid black 1px;
    margin: auto;
}
.remaining-time{
    color: white;
}
h1{
    color: white;
    text-align: center;
}
h2{
    text-align: center;
}
.pic img{
    width: 100%;
}
.question-card{
    padding: 80px 20px 80px 20px;
}
.btn {
    padding: 20px;
    margin: 20px;
}
.container-opt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}